{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in object_list %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ product.photo | media_filter }}">
          <div class="card-body">
            <p class="card-text">Наименование: {{ product.product_name }}</p>
            <p class="card-text">Описание: {{ product.description | truncatechars:100 }}</p>
            <div class="d-flex flex-wrap gap-2 justify-content-start">
              <a class="btn btn-primary btn-sm flex-grow-1" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>
              {% if perms.catalog.can_unpublish_product %}
              <a class="btn btn-secondary btn-sm flex-grow-1" href="{% url 'catalog:product_unpublish' product.pk %}">Снять с публикации</a>
              {% endif %}
              {% if user == product.owner %}
              <a class="btn btn-warning btn-sm flex-grow-1" href="{% url 'catalog:product_update' product.pk %}" role="button">Изменить</a>
              {% endif %}
              {% if user == product.owner or perms.catalog.can_delete_product %}
              <a class="btn btn-danger btn-sm flex-grow-1" href="{% url 'catalog:product_confirm_delete' product.pk %}" role="button">Удалить</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}